<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="mode" value="service" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="mail.server" value ="195.34.21.18" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="useragent" value ="DEV_MassMail" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="privatekeyfolder" value ="E:\Dev\MassMailer\DKIM" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
    <add key="hostkey" value="DEVLOCALHOST" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"  />
  </appSettings>
  <connectionStrings>
    <add name="connection" connectionString="Application Name=DEV_MassMail;database=MassMailer_Dev;server=tcp:localhost;user id=web;pwd=!QAZxsw2"  xdt:Transform="SetAttributes" xdt:Locator="Match(name)"  />
  </connectionStrings>
</configuration>