<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- режим работы службы см. GetBatchFromQueue-->
    <add key="mode" value="massmail" />
    <!-- параметры smtp серверов -->
    <add key="mail.server" value="smtp-massmail.ozon.ru" />
    <add key="mail.port" value="25" />
    <!-- Путь к ключам для DKIM подписи -->
    <add key="privatekeyfolder" value="E:\Dev\Project\MassMailer\DKIM" />
    <!-- Имя текущей копии службы -->
    <add key="useragent" value="LOCALHOST_MassMail" />
    <!-- Адрес автоответов -->
    <add key="returnpath" value="noreply@example.com" />
    <!-- Размер буфера первого блока конвейера -->
    <add key="parsexmlbuffersize" value="32" />
    <!-- Степень параллелизма блока ParseXml -->
    <add key="parsexmlmaxdop" value="16" />
    <!-- Степень параллелизма блока SendEmails -->
    <add key="sendemailsmaxdop" value="32" />
    <!-- Размер батча для записи результатов в БД -->
    <add key="batchsize" value="10" />
    <!-- Размер блока выборки из БД -->
    <add key="blocksize" value="100" />
    <!-- Оповещать после отправки такого количества писем -->
    <add key="notifyafter" value="100" />
    <!-- Режим тестирования ядра 0-выкл, -1-без задержки, >0-время задержки в мс. -->
    <add key="coretest" value="0" />
    <!-- параметры для Zabbix -->
    <add key="sendcountkey" value="send" />
    <add key="errorcountkey" value="errors" />
    <add key="statuskey" value="status" />
    <add key="hostkey" value="LOCALHOST" />
    <add key="notifyperiod" value="30" />
    <add key="zabbix.server" value="zabbix.example.com" />
    <add key="zabbix.port" value="10051" />
  </appSettings>
  <connectionStrings>
    <add name="connection" connectionString="Application Name=MassMailer;database=MassMailer;server=tcp:localhost;user id=web;pwd=!QAZxsw2" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>